@page "/engineer"
@using Models
@using Data
@inherits AddEngineerForm

<BTab>
    <BTabPanel Title="在职工程师">
        <div class="card-columns">
            @foreach (var engineer in OnEngineers)
            {
                <div class="card text-center border-primary">
                                       
                    <h5 class="card-header">@engineer.Name</h5>
                    <ul class="card-body">
                        <li>
                            ID：@engineer.ID
                        </li>
                        <li>
                            车间：@engineer.Workshop
                        </li>
                        <li>
                            组别：@engineer.Group
                        </li>
                    </ul>
                </div>
             }
        </div>       
    </BTabPanel>

    <BTabPanel Title="添加工程师">
        <BForm Style="width:400px;" @ref="addEngForm">
            <BFormItem TValue="string" Name="@nameof(Models.Engineer.Name)" Label="姓名" IsRequired="true">
                <BInput TValue="string"></BInput>
            </BFormItem>
            <BFormItem TValue="int" Name="@nameof(Models.Engineer.ID)" Label="ID" IsRequired="true">
                <BInput Value="Data.SqlServerCtl.newEngineerID()" IsDisabled="true"></BInput>
            </BFormItem>
            <BFormItem TValue="Models.workshop" Label="车间" Name="@nameof(Models.Engineer.Workshop)" IsRequired="true">
                <BSelect TValue="Models.workshop" Placeholder="请选择车间">
                </BSelect>
            </BFormItem>
            <BFormItem TValue="Models.group" Label="组别" Name="@nameof(Models.Engineer.Group)" IsRequired="true">
                <BSelect TValue="Models.group" Placeholder="请选择组别">
                </BSelect>
            </BFormItem>
            <BFormActionItem>
                <BButton  OnClick="e=>Submit()">立即添加</BButton>
                <BButton OnClick="e=>Reset()">重置</BButton>
            </BFormActionItem>
        </BForm>
    </BTabPanel>

    <BTabPanel Title="离职工程师">
        @foreach (var engineer in OffEngineers)
                        {
            <div class="panel panel-warning">
                <div class="panel-heading">
                    @engineer.Name
                </div>
                <ul class="panel-body">
                    <li>
                        ID：@engineer.ID
                    </li>
                    <li>
                        车间：@engineer.Workshop
                    </li>
                    <li>
                        组别：@engineer.Group
                    </li>
                </ul>
            </div>
        }
    </BTabPanel>
</BTab>

@code {
    private IList<Models.Engineer> OnEngineers = SqlServerCtl.ListEngineer(true);
    private IList<Models.Engineer> OffEngineers = SqlServerCtl.ListEngineer(false);
}
  