@using Models
@using Data

<div class="card-deck" style="margin-top:15px">
    <div class="card text-center">
        <h5 class="card-header">
            中/英文描述/规格型
        </h5>
        <div class="input-group card-body">
            <input type="text" class="form-control" placeholder="在此输入备件的中文描述、英文描述或规格型" @bind-value="keywords">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" @onclick="SearchOnDescription">查询</button>
            </div>
        </div>
    </div>

    <div class="card text-center">
        <h5 class="card-header">
            物料号
        </h5>
        <div class="input-group  card-body">
            <input type="text" class="form-control" placeholder="在此输入备件的物料号">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button">查询</button>
                <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">SVW物料号</a>
                    <a class="dropdown-item" href="#">DC物料号</a>
                </div>
            </div>
        </div>
    </div>
</div>

@if (SparePartList != null)
{
    @if (SparePartList.Count != 0)
    {
        <div class=" card text-center" style="margin-top:15px">
            <div class="table-responsive">
                <table class="table table-hover table-striped" data-show-header="true">
                    <thead class="thead-light">
                        <tr>
                            <th>SVW备件号</th>
                            <th>DC备件号</th>
                            <th>中/英文描述/备件规格</th>
                            <th>备件制造商</th>
                            <th>产地</th>
                            <th>物料属性</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var partInfo in SparePartList)
                        {
                            <tr @onclick="e=>ClickItem(partInfo)">
                                <td>@partInfo.SVWNumber</td>
                                <td>@partInfo.DCNumber</td>
                                <td>@partInfo.Description</td>
                                <td>@partInfo.PartProducer</td>
                                <td>@partInfo.ProducingArea</td>
                                <td>@partInfo.PartProperty</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
}

<BSModal @ref="PartDetailModal">
    @if (selectedPart != null)
    {
        <BSModalHeader OnClick="@(() => PartDetailModal.Hide())">@selectedPart.Description</BSModalHeader>
        <BSModalBody>
            <PartDetail partInfo="selectedPart" />
        </BSModalBody>
    }
<BSModalFooter>
    <BSButton Color="Color.Primary" @onclick="@(() => AddRecordModal.Show())">使用此备件创建维修单</BSButton>
    <BSButton Color="Color.Secondary" @onclick="@(() => ModifyModal.Show())">修改信息</BSButton>
    <BSButton Color="Color.Danger" @onclick="@(() => ConfirmDeleteModal.Show())">删除备件</BSButton>
</BSModalFooter>
</BSModal>

<PartInfoModify partInfo="selectedPart" detailModal="PartDetailModal" @ref="ModifyModal" />
<Part2Record partInfo="selectedPart" @ref="AddRecordModal"/>


<BSModal @ref="ConfirmDeleteModal" IsCentered="true">
    <BSModalHeader OnClick="@(() => ConfirmDeleteModal.Hide())">警告</BSModalHeader>
    <BSModalBody>
        <p>是否要删除备件？</p>
    </BSModalBody>
    <BSModalFooter>
        <BSButton Color="Color.Danger" @onclick="@(() => DeleteItem(selectedPart))">删除</BSButton>
        <BSButton Color="Color.Secondary" @onclick="@(() => ConfirmDeleteModal.Hide())">返回</BSButton>
    </BSModalFooter>
</BSModal>



@code {
    string keywords;
    BSModal PartDetailModal;
    BSModal ConfirmDeleteModal;
    PartInfoModify ModifyModal;
    Part2Record AddRecordModal;
    SparePart selectedPart;
    private IList<Models.SparePart> SparePartList;
    [Inject]
    MessageService Message { get; set; }

    private async Task SearchOnDescription()
    {
        await Task.Factory.StartNew(() =>
        {
            SparePartList = SqlServerCtl.SearchParts(keywords);
            if (SparePartList.Count != 0)
            {
                Message.Show("共搜索到" + SparePartList.Count + "条符合条件的记录", MessageType.Success);
            }
            else
            {
                Message.Show("没有符合条件的记录", MessageType.Warning);
            }
        });
    }
    private void ClickItem(SparePart partInfo)
    {
        selectedPart = partInfo;
        PartDetailModal.Show();
    }
    private void DeleteItem(SparePart deletedPart)
    {
        SqlServerCtl.DeletePartInfo(deletedPart.SVWNumber);
        SparePartList = SqlServerCtl.SearchParts(keywords);
        PartDetailModal.Hide();
        ConfirmDeleteModal.Hide();
    }
}
