@using Models
@using Data

    <BSModal @ref="PartInfoAddModal" IsCentered="true">
        <BSModalHeader OnClick="@(() => PartInfoAddModal.Hide())">新增备件信息</BSModalHeader>
        <BSModalBody style="height: 35rem; overflow-y:scroll">
            <BForm @ref="addPartInfoForm" Inline="true">
                <div class="card" style="padding-bottom:0;margin-bottom:10px">
                    <div class="card-body" style="padding-bottom: 0">
                        <BFormItem TValue="string" Name="@nameof(Models.SparePart.DCNumber)" Label="DC物料号" IsRequired="true">
                            <BInput TValue="string"></BInput>
                        </BFormItem>
                        <BFormItem TValue="string" Name="@nameof(Models.SparePart.SVWNumber)" Label="SVW物料号" IsRequired="true">
                            <BInput TValue="string"></BInput>
                        </BFormItem>
                        <BFormItem TValue="string" Name="@nameof(Models.SparePart.Description)" Label="中/英文描述/规格型" IsRequired="true">
                            <BSBasicInput InputType="BlazorStrap.InputType.TextArea" Rows="2" Value="string.Empty" />
                        </BFormItem>
                    </div>
                </div>
                <div class="card" style="padding-bottom:0;margin-bottom:10px">
                    <div class="card-body" style="padding-bottom: 0">
                        <BFormItem TValue="string" Name="@nameof(Models.SparePart.DeviceProducer)" Label="设备制造商">
                            <BInput TValue="string"></BInput>
                        </BFormItem>
                        <BFormItem TValue="string" Name="@nameof(Models.SparePart.PartProducer)" Label="备件制造商" IsRequired="true">
                            <BInput TValue="string"></BInput>
                        </BFormItem>
                        <BFormItem TValue="string" Name="@nameof(Models.SparePart.MachineNumber)" Label="机器号">
                            <BInput TValue="string"></BInput>
                        </BFormItem>
                        <BFormItem TValue="string" Name="@nameof(Models.SparePart.MapNumber)" Label="图号">
                            <BInput TValue="string"></BInput>
                        </BFormItem>
                        <BFormItem TValue="string" Name="@nameof(Models.SparePart.PlannerNumber)" Label="计划员码" IsRequired="true">
                            <BInput TValue="string"></BInput>
                        </BFormItem>
                        <BFormItem TValue="Models.ABCnumber" Name="@nameof(Models.SparePart.ABCNumber)" Label="ABC码" IsRequired="true">
                            <BSelect TValue="Models.ABCnumber" />
                        </BFormItem>
                    </div>
                </div>
                <div class="card" style="padding-bottom:0;margin-bottom:10px">
                    <div class="card-body" style="padding-bottom: 0">
                        <BFormItem TValue="Models.partUnit" Name="@nameof(Models.SparePart.CountUnit)" Label="计量单位" IsRequired="true">
                            <BSelect TValue="Models.partUnit" />
                        </BFormItem>
                        <BFormItem TValue="Models.producingArea" Name="@nameof(Models.SparePart.ProducingArea)" Label="产地" IsRequired="true">
                            <BSelect TValue="Models.producingArea" />
                        </BFormItem>
                        <BFormItem TValue="double" Name="@nameof(Models.SparePart.price)" Label="价格" IsRequired="true">
                            <BInput TValue="double"></BInput>
                        </BFormItem>
                        <BFormItem TValue="int" Name="@nameof(Models.SparePart.MinSafetyStock)" Label="最小安全库存" IsRequired="true">
                            <BInput TValue="int"></BInput>
                        </BFormItem>
                        <BFormItem TValue="int" Name="@nameof(Models.SparePart.MaxSafetyStock)" Label="最大安全库存" IsRequired="true">
                            <BInput TValue="int"></BInput>
                        </BFormItem>
                        <BFormItem TValue="int" Name="@nameof(Models.SparePart.OrderCycle)" Label="采购周期" IsRequired="true">
                            <BInput TValue="int"></BInput>
                        </BFormItem>
                    </div>
                </div>
                <div class="card" style="padding-bottom:0;margin-bottom:10px">
                    <div class="card-body" style="padding-bottom: 0">
                        <BFormItem TValue="Models.partProperty" Name="@nameof(Models.SparePart.PartProperty)" Label="物料属性" IsRequired="true">
                            <BSelect TValue="Models.partProperty" />
                        </BFormItem>
                        <BFormItem TValue="Models.partType" Name="@nameof(Models.SparePart.PartType)" Label="物料类型" IsRequired="true">
                            <BSelect TValue="Models.partType" />
                        </BFormItem>
                        <BFormItem TValue="Models.partStatus" Name="@nameof(Models.SparePart.PartStatus)" Label="物料状态" IsRequired="true">
                            <BSelect TValue="Models.partStatus" />
                        </BFormItem>
                        <BFormItem TValue="bool" Name="@nameof(Models.SparePart.IsSafety)" Label="是否有物料安全标识？" IsRequired="true">
                            <BRadioGroup TValue="bool">
                                <BRadioButton Value="true">是</BRadioButton>
                                <BRadioButton Value="false">否</BRadioButton>
                            </BRadioGroup>
                        </BFormItem>
                    </div>
                </div>
            </BForm>
        </BSModalBody>
        <BSModalFooter>
            <BSButton Color="Color.Primary" OnClick="e=>Submit()">立即添加</BSButton>
            <BSButton Color="Color.Secondary" OnClick="e=>Reset()">重置</BSButton>
            <BSButton Color="Color.Secondary" OnClick="e=>Close()">返回</BSButton>
        </BSModalFooter>
    </BSModal>

@code {
    [Inject]
    Blazui.Component.MessageBox MessageBox { get; set; }

    BSModal PartInfoAddModal;
    protected BForm addPartInfoForm;
    protected void Submit()
    {
        if (!addPartInfoForm.IsValid())
        {
            return;
        }

        var sparePart = addPartInfoForm.GetValue<SparePart>();

        _ = MessageBox.AlertAsync(sparePart.ToString());
        SqlServerCtl.AddPartInfo(sparePart);
    }

    public void Show()
    {
        PartInfoAddModal.Show();
    }
    public void Close()
    {
        Reset();
        PartInfoAddModal.Hide();
    }

    protected void Reset()
    {
        addPartInfoForm.Reset();
    }
}

